.breadcrumb {
    display: flex;
    gap: 0.5rem;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: black;
    padding: 40px 80px;
}

.separator {
    color: gray;
}

.active {
    font-weight: 700;
}