.testimonials {
    padding: 24px 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }
  .title {
    font-size: 60px;
    font-family: Montserrat;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 68px;
    color: black;
  }
  .slider {
    width: 100%;
  }
  .slide {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 448px;
    padding: 16px;
    box-shadow: 0px 0px 16px #A1A1AA;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .card h4 {
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    color: black;
  }
  .role {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    color: #52525B;
  }
  .message {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    color: black;
    line-height: 24px;
  }
  