
/*variaveis globais para cores e fontes*/
:root {
  --background: #ffffff;
  --font-primary:'Inter', sans-serif;
}



/*Estilos basicos para HTML e body*/
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: var(--font-primary);
  line-height: 1.5;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Reset basico para todos os elementos*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Ajuste de imagens*/
img {
  max-width: 100%;
  height: auto;
}
